# Built-in Data Structures, Functions, and Files

## Data Structures and Sequences

### Tuple

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
tup2 = (1, 2, 3)
tup2

(1, 2, 3)

In [3]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [4]:
tuple([4, 0, 2])

(4, 0, 2)

In [5]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [6]:
tup[0]

's'

<mark>the objects stored in a tuple may be mutable themselves</mark>

In [7]:
tup = tuple(['foo', [1, 2], True])
# tup[2] = False
tup

('foo', [1, 2], True)

<mark>tuple不可变，但是可在原位修改</mark>

In [8]:
# tup[1] = [1, 2, 3]

In [9]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [10]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [11]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples

In [13]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [14]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

<mark>两个元素替换 b,a = a,b</mark>

```python
tmp = a
a = b
b = tmp
```

In [15]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [13]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b

(1, 2)

In [14]:
rest

[3, 4, 5]

In [15]:
a, b, *_ = values
_

[3, 4, 5]

<mark>*用于省略, _ for unwanted variables</mark>

#### Tuple methods

In [16]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [17]:
a.index(3)

4

### List

In [2]:
a_list = [2, 3, 7, None]

In [3]:
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [4]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [5]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [6]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [7]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

> 警告：与append相比，insert耗费的计算量大，因为对后续元素的引用必须在内部迁移，以便为新元素提供空间。如果要在序列的头部和尾部插入元素，你可能需要使用collections.deque，一个双尾部队列。

<mark> insert的逆运算是pop，它移除并返回指定位置的元素：</mark>

In [8]:
b_list.pop(2)

'peekaboo'

In [9]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [10]:
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

<mark>remove只删掉第一个值</mark>

In [11]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [12]:
'dwarf' in b_list

True

In [13]:
'dwarf' not in b_list

False

> 在列表中检查是否存在某个值远比字典和集合速度慢，因为Python是线性搜索列表中的值，但在字典和集合中，在同样的时间内还可以检查其它项（基于哈希表）。

#### Concatenating and combining lists

<mark>extend vs + vs append</mark>

> +计算量更大，extend适合追加元素，append只能加一个元素. list concatenation by addition is a comparatively expensive operation since
a new list must be created and the objects copied over

Append: Adds its argument as a single element to the end of a list. The length of the list increases by one.

In [14]:
my_list = ['geeks', 'for', 'geeks'] 
another_list = [6, 0, 4, 1] 
my_list.append(another_list) 
my_list

['geeks', 'for', 'geeks', [6, 0, 4, 1]]

extend(): Iterates over its argument and adding each element to the list and extending the list. The length of the list increases by number of elements in it’s argument.

In [15]:
my_list = ['geeks', 'for'] 
another_list = [6, 0, 4, 1] 
my_list.extend(another_list) 
my_list

['geeks', 'for', 6, 0, 4, 1]

> NOTE: A string is an iterable, so if you extend a list with a string, you’ll append each character as you iterate over the string.

In [16]:
my_list = ['geeks', 'for', 6, 0, 4, 1] 
my_list.extend('geeks') 
my_list

['geeks', 'for', 6, 0, 4, 1, 'g', 'e', 'e', 'k', 's']

In [17]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [18]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

Faster：
```python
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)
```

```python
everything = []
for chunk in list_of_lists:
    everything = everything + chunk
```

#### Sorting

```python
a.sort(*, key=None, reverse=False)
```

In [2]:
a = [7, 2, 5, 1, 3]
a.sort() #原地排序
a

[1, 2, 3, 5, 7]

In [3]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len) #排序的key可以指定
b

['He', 'saw', 'six', 'small', 'foxes']

<mark>key= can use lambda function</mark>

In [7]:
funca = lambda x: x[1]
b.sort(key=funca)
b

['saw', 'He', 'six', 'small', 'foxes']

In [4]:
sorted(b)

['He', 'foxes', 'saw', 'six', 'small']

#### Binary search and maintaining a sorted list

<mark>bisect只查询位置，insort直接插入</mark>
> 注意：排好序的列表才能使用，bisect并不会检查，不会报错

In [8]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)

4

In [9]:
bisect.bisect?

Docstring:
bisect_right(a, x[, lo[, hi]]) -> index

Return the index where to insert item x in list a, assuming a is sorted.

The return value i is such that all e in a[:i] have e <= x, and all e in
a[i:] have e > x.  So if x already appears in the list, i points just
beyond the rightmost x already there

Optional args lo (default 0) and hi (default len(a)) bound the
slice of a to be searched.
Type:      builtin_function_or_method

In [10]:
bisect.bisect(c, 5)

6

In [11]:
bisect.insort(c, 6)

In [12]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

#### Slicing

In [17]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [18]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [19]:
seq[:5]
seq[3:]

[6, 3, 5, 6, 0, 1]

In [20]:
seq[-4:]

[5, 6, 0, 1]

In [21]:
seq[-2:-4]

[]

In [22]:
seq[-6:-2]

[6, 3, 5, 6]

In [23]:
seq[::2]

[7, 3, 3, 6, 1]

In [24]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [31]:
seq.reverse() #inplace

In [32]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

### Built-in Sequence Functions

#### enumerate

```python
i = 0
for value in collection:
   # do something with value
   i += 1
```

```python
for i, value in enumerate(collection):
   # do something with value
```

## <mark>计算序列（唯一的）dict映射到位置的值</mark>

In [51]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

#### sorted

## <mark>sorted vs list.sort</mark>
> sorted可以用于任何iterable，创建一个新list，原变量不改变

In [52]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [53]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### <mark>zip 很形象 就是一个拉链</mark>

In [175]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
zipped

In [54]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

## <mark>长度取决于最短的序列</mark>

In [55]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [56]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

## <mark>zip解压序列 *</mark>

In [57]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names, last_names

(('Nolan', 'Roger', 'Schilling'), ('Ryan', 'Clemens', 'Curt'))

In [58]:
pitchers = [['Nolan', 'Ryan'], ['Roger', 'Clemens'],
            ['Schilling', 'Curt']]
first_names, last_names = zip(*pitchers)
first_names, last_names

(('Nolan', 'Roger', 'Schilling'), ('Ryan', 'Clemens', 'Curt'))

#### reversed

In [59]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict

In [8]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [61]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [62]:
d1['b']

[1, 2, 3, 4]

In [63]:
'b' in d1

True

In [64]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [65]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [66]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [67]:
ret = d1.pop('dummy')
ret

'another value'

In [68]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [69]:
list(d1.keys())

['a', 'b', 7]

In [70]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [71]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating dicts from sequences

```python
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value
```

#### <mark>dict可以接受2元元组的列表</mark>

In [72]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

```python
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value
```

> get：取dic[key]，没有则取default

> pop: del dic[key], else error

> setdefault: get dic[key], else set sic[key] = default

## <mark>取默认值</mark>

```python
value = some_dict.get(key, default_value)
```

In [178]:
# by_letter.setdefault?

In [176]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [177]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter #if letter is a key, return value; else set value as []

{'a': ['apple', 'atom', 'apple', 'atom'],
 'b': ['bat', 'bar', 'book', 'bat', 'bar', 'book']}

## <mark>collections defaultdict设定dict value默认为list</mark>

In [179]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

#### Valid dict key types

## <mark>key必须是immutable 可哈希性 hash()</mark>

In [77]:
hash('string')

1083306851229485813

In [78]:
hash((1, 2, (2, 3)))

1097636502276347782

In [79]:
# hash((1, 2, [2, 3])) # fails because lists are mutable

In [80]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### <mark>set 只有key没有value的dict</mark>

In [81]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [82]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [83]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
type(a)

set

In [84]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [85]:
a.intersection(b)
a & b

{3, 4, 5}

![Python的集合操作](http://upload-images.jianshu.io/upload_images/7178691-980efe5d98ecc4d6.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)

## <mark>可以update，但是下面效率更高：</mark>

In [86]:
c = a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [87]:
d = a.copy()
d &= b
d

{3, 4, 5}

## <mark>与dict相似，key必须是immutable</mark>

In [88]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [89]:
set1 = set(my_data)
set1

{1, 2, 3, 4}

In [10]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

In [91]:
a_set.issuperset({1, 2, 3})

True

In [92]:
{1, 2, 3} == {3, 2, 1}

True

### List, Set, and Dict Comprehensions

## <mark>列表推导式</mark>

```python
[expr for val in collection if condition]
```

```python
result = []
for val in collection:
    if condition:
        result.append(expr)
```

In [93]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

## <mark>dict set列表推导式</mark>

```python
dict_comp = {key-expr : value-expr for value in collection if condition}
```

```python
set_comp = {expr for value in collection if condition}
```

In [94]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [1]:
# map?

> map(func, *iterables) --> map object

In [96]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [97]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

In [98]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

## <mark>嵌套列表推导式</mark>

```python
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)
```

In [99]:
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [100]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

```python
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)
```

In [101]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Functions

```python
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)
```

```python
my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)
my_function(10, 20)
```

> 关键字参数必须位于位置参数（如果有的话）之后。

### Namespaces, Scope, and Local Functions

```python
def func():
    a = []
    for i in range(5):
        a.append(i)
```

## <mark>函数内使用全局变量要声明 global</mark>

In [102]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

### Returning Multiple Values

#### <mark>实际上是返回了一个tuple</mark>

```python
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()
```

```python
return_value = f()
```

```python
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}
```

### Functions Are Objects

In [103]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

> 需要做很多事情：去除空白符、删除各种标点符号、正确的大写格式等。做法之一是使用内建的字符串方法和正则表达式re模块 (regular expression)

In [104]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [105]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

## <mark>把所有clean option做成一个列表</mark>

In [106]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [107]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [108]:
list(map(remove_punctuation, states))

['   Alabama ',
 'Georgia',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south   carolina',
 'West virginia']

In [109]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### Anonymous (Lambda) Functions

#### <mark>匿名函数</mark>

```python
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2
```

```python
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)
```

In [110]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

## <mark>太神奇了 sort函数参数 key=str字母种类数量</mark>

In [111]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Currying: Partial Argument Application

```python
def add_numbers(x, y):
    return x + y
```

```python
add_five = lambda y: add_numbers(5, y)
```

```python
from functools import partial
add_five = partial(add_numbers, 5)
```

### Generators

In [12]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [13]:
dict_iterator = iter(some_dict)
dict_iterator

> 字典迭代器默认迭代key

In [114]:
list(dict_iterator)

['a', 'b', 'c']

## <mark>generator请求元素时才会运行</mark>

> 生成器（generator）是构造新的可迭代对象的一种简单方式。一般的函数执行之后只会返回单个值，而生成器则是以延迟的方式返回一个值序列，即每返回一个值之后暂停，直到下一个值被请求时再继续。要创建一个生成器，只需将函数中的return替换为yeild即可：

In [115]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [116]:
gen = squares()
gen

In [117]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

#### Generator expresssions

In [118]:
gen = (x ** 2 for x in range(100))
gen

```python
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()
```

In [119]:
sum(x ** 2 for x in range(100))

328350

## <mark>generator表达式</mark>

In [120]:
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### itertools module

In [1]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [2]:
#itertools.groupby??

![](http://upload-images.jianshu.io/upload_images/7178691-111823d8767a104d.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)

### Errors and Exception Handling

In [123]:
float('1.2345')

1.2345

In [124]:
# float('something')

In [125]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [126]:
attempt_float('1.2345')

1.2345

In [127]:
attempt_float('something')

'something'

In [128]:
# float((1, 2))

In [129]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [130]:
# attempt_float((1, 2))

In [131]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

## <mark>try...except...else...finally</mark>

```python
f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()
```

#### <mark>用else让只在try部分成功的情况下，才执行代码：</mark>

```python
f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()
```

#### Exceptions in IPython

```python
In [10]: %run examples/ipython_bug.py
---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
/home/wesm/code/pydata-book/examples/ipython_bug.py in <module>()
     13     throws_an_exception()
     14
---> 15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in calling_things()
     11 def calling_things():
     12     works_fine()
---> 13     throws_an_exception()
     14
     15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in throws_an_exception()
      7     a = 5
      8     b = 6
----> 9     assert(a + b == 10)
     10
     11 def calling_things():

AssertionError:
```

## Files and the Operating System

In [132]:
%pushd book-materials

[WinError 2] The system cannot find the file specified: 'book-materials'
C:\Users\csu05\Google Drive\coursework\pydata-book

['~\\Google Drive\\coursework\\pydata-book']

In [133]:
path = 'examples/segismundo.txt'
f = open(path)

```python
for line in f:
    pass
```

In [134]:
lines = [x.rstrip() for x in open(path)]
lines

['SueÃ±a el rico en su riqueza,',
 'que mÃ¡s cuidados le ofrece;',
 '',
 'sueÃ±a el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueÃ±a el que a medrar empieza,',
 'sueÃ±a el que afana y pretende,',
 'sueÃ±a el que agravia y ofende,',
 '',
 'y en el mundo, en conclusiÃ³n,',
 'todos sueÃ±an lo que son,',
 'aunque ninguno lo entiende.',
 '']

## <mark>open后一定close</mark>

In [135]:
f.close()

In [136]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [137]:
f = open(path)
f.read(10)

'SueÃ±a el '

In [138]:
f2 = open(path, 'rb')  # Binary mode
f2.read(10)

b'Sue\xc3\xb1a el '

In [139]:
f.tell()

10

In [140]:
f2.tell()

10

In [141]:
import sys
sys.getdefaultencoding()

'utf-8'

In [142]:
f.seek(3)

3

In [143]:
f.read(1)

'Ã'

In [144]:
f.close()

In [145]:
f2.close()

In [146]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

['SueÃ±a el rico en su riqueza,\n',
 'que mÃ¡s cuidados le ofrece;\n',
 'sueÃ±a el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueÃ±a el que a medrar empieza,\n',
 'sueÃ±a el que afana y pretende,\n',
 'sueÃ±a el que agravia y ofende,\n',
 'y en el mundo, en conclusiÃ³n,\n',
 'todos sueÃ±an lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [147]:
import os
os.remove('tmp.txt')

### Bytes and Unicode with Files

In [148]:
with open(path) as f:
    chars = f.read(10)
chars

'SueÃ±a el '

In [149]:
with open(path, 'rb') as f:
    data = f.read(10)
data

b'Sue\xc3\xb1a el '

In [150]:
data.decode('utf8')

'Sueña el '

In [151]:
# data[:4].decode('utf8')

In [152]:
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

SueÃ±a el

In [153]:
os.remove(sink_path)

In [154]:
f = open(path)
f.read(5)

'SueÃ±'

In [155]:
f.seek(4)

4

In [156]:
# f.read(1)

In [157]:
f.close()

In [158]:
%popd

C:\Users\csu05\Google Drive\coursework\pydata-book
popd -> ~\Google Drive\coursework\pydata-book

## Conclusion