# Data Loading, Storage, and File Formats

In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

![pandas中的解析函数](http://upload-images.jianshu.io/upload_images/7178691-958f849e6067b19b.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)

## Reading and Writing Data in Text Format

In [3]:
!cat examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [4]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
pd.read_csv('examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [8]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [9]:
pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

> names 列名；index_col 哪一列为行index

> dataframe中，columns

In [10]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('examples/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [11]:
!cat examples/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [12]:
parsed = pd.read_csv('examples/csv_mindex.csv',
                     index_col=['key1', 'key2']) #层次化索引
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [13]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

<mark>Regular Expressions正则表达式 '\s+'一或多个空格<mark>

In [14]:
result = pd.read_table('examples/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [109]:
!type examples\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [15]:
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3]) #skiprows跳过哪几行

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [110]:
!type examples\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [16]:
result = pd.read_csv('examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [17]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [18]:
result = pd.read_csv('examples/ex5.csv', na_values=['NULL']) #'NULL'标记为NA
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

<MARK>which value should be treated as NA</MARK>

In [19]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']} #自定义NA标记
pd.read_csv('examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

![pandas.read_csv和pandas.read_table常用的选项](http://upload-images.jianshu.io/upload_images/7178691-082daf4a00ed9494.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)

![pandas.read_csv和pandas.read_table常用的选项](http://upload-images.jianshu.io/upload_images/7178691-f2bcc0a703c7236f.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)

![pandas.read_csv和pandas.read_table常用的选项](http://upload-images.jianshu.io/upload_images/7178691-597327ade3e94c7a.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)

### Reading Text Files in Pieces

In [20]:
pd.options.display.max_rows = 10

In [21]:
result = pd.read_csv('examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [22]:
pd.read_csv('examples/ex6.csv', nrows=5) #只想读取几行 nrows

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

<mark>逐块读取文件 chucksize</mark>

In [23]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)
chunker

In [119]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)

In [120]:
tot

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
     ...
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
Length: 36, dtype: float64

### Writing Data to Text Format

In [24]:
data = pd.read_csv('examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [122]:
data.to_csv('examples/out.csv')

In [123]:
!type examples\out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [132]:
!del examples\out.csv

Could Not Find C:\Users\csu05\Google Drive\coursework\pydata-book\examples\out.csv

In [26]:
import sys
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [27]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [28]:
data.to_csv(sys.stdout, index=False, header=False) #不输出行列标签

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [29]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [128]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('examples/tseries.csv')
!type examples\tseries.csv

C:\Users\csu05\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

### Working with Delimited Formats

In [134]:
!type examples\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [30]:
import csv
f = open('examples/ex7.csv')

reader = csv.reader(f)

> 对这个reader进行迭代将会为每行产生一个元组（并移除了所有的引号）：

In [31]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [32]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [33]:
header, values = lines[0], lines[1:]
header

['a', 'b', 'c']

In [34]:
values

[['1', '2', '3'], ['1', '2', '3']]

In [35]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [36]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [37]:
f = open('examples/ex7.csv')
reader = csv.reader(f, dialect=my_dialect)

In [38]:
reader = csv.reader(f, delimiter='|')

In [39]:
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

![csv.Dialect的属性](http://upload-images.jianshu.io/upload_images/7178691-7a1cee622459072b.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240)

### JSON Data (JavaScript Object Notation)

> JSON（JavaScript Object Notation的简称）已经成为通过HTTP请求在Web浏览器和其他应用程序之间发送数据的标准格式之一。它是一种比表格型文本格式（如CSV）灵活得多的数据格式。下面是一个例子：

In [2]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

> 除其空值null和一些其他的细微差别（如列表末尾不允许存在多余的逗号）之外，JSON非常接近于有效的Python代码。基本类型有对象（字典）、数组（列表）、字符串、数值、布尔值以及null。对象中所有的键都必须是字符串。许多Python库都可以读写JSON数据。我将使用json，因为它是构建于Python标准库中的。通过json.loads即可将JSON字符串转换成Python形式：

In [3]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [4]:
type(result)

dict

In [5]:
asjson = json.dumps(result)

In [6]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [7]:
siblings = pd.DataFrame(result['siblings'])
siblings

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [151]:
!type examples\example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [8]:
data = pd.read_json('examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [10]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

### XML and HTML: Web Scraping

```python
conda install lxml
pip install beautifulsoup4 html5lib
```

> Python有许多可以读写常见的HTML和XML格式数据的库，包括lxml、Beautiful Soup和html5lib。lxml的速度比较快，但其它的库处理有误的HTML或XML文件更好。
pandas有一个内置的功能，read_html，它可以使用lxml和Beautiful Soup自动将HTML文件中的表格解析为DataFrame对象。

<mark>read_html can parse all tabular data, and return a list of df</mark>

In [11]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')
len(tables) #有几个table？

1

In [12]:
type(tables[0])

pandas.core.frame.DataFrame

In [13]:
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [14]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year

0      2016
1      2016
2      2016
3      2016
4      2016
       ...
542    2001
543    2001
544    2001
545    2000
546    2000
Name: Closing Date, Length: 547, dtype: int64

In [15]:
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

#### Parsing XML with lxml.objectify

> XML（Extensible Markup Language）是另一种常见的支持分层、嵌套数据以及元数据的结构化数据格式。本书所使用的这些文件实际上来自于一个很大的XML文档。
前面，我介绍了pandas.read_html函数，它可以使用lxml或Beautiful Soup从HTML解析数据。XML和HTML的结构很相似，但XML更为通用。

```XML
<INDICATOR>
  <INDICATOR_SEQ>373889</INDICATOR_SEQ>
  <PARENT_SEQ></PARENT_SEQ>
  <AGENCY_NAME>Metro-North Railroad</AGENCY_NAME>
  <INDICATOR_NAME>Escalator Availability</INDICATOR_NAME>
  <DESCRIPTION>Percent of the time that escalators are operational
  systemwide. The availability rate is based on physical observations performed
  the morning of regular business days only. This is a new indicator the agency
  began reporting in 2009.</DESCRIPTION>
  <PERIOD_YEAR>2011</PERIOD_YEAR>
  <PERIOD_MONTH>12</PERIOD_MONTH>
  <CATEGORY>Service Indicators</CATEGORY>
  <FREQUENCY>M</FREQUENCY>
  <DESIRED_CHANGE>U</DESIRED_CHANGE>
  <INDICATOR_UNIT>%</INDICATOR_UNIT>
  <DECIMAL_PLACES>1</DECIMAL_PLACES>
  <YTD_TARGET>97.00</YTD_TARGET>
  <YTD_ACTUAL></YTD_ACTUAL>
  <MONTHLY_TARGET>97.00</MONTHLY_TARGET>
  <MONTHLY_ACTUAL></MONTHLY_ACTUAL>
</INDICATOR>
```

In [16]:
from lxml import objectify

path = 'datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [79]:
root

In [71]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [72]:
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,95,96.9,95,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,95,96,95,95
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,95,96.3,95,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,95,96.8,95,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,95,96.6,95,95.8

<mark>google主页也算是一段有效的XML</mark>

In [73]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [74]:
root

In [75]:
root.get('href')

'http://www.google.com'

In [76]:
root.text

'Google'

## Binary Data Formats

In [3]:
frame = pd.read_csv('examples/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
frame.to_pickle('examples/frame_pickle') #将数据以pickle格式保存到磁盘上

In [5]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

> 注意：pickle仅建议用于短期存储格式。其原因是很难保证该格式永远是稳定的；今天pickle的对象可能无法被后续版本的库unpickle出来。虽然我尽力保证这种事情不会发生在pandas中，但是今后的某个时候说不定还是得“打破”该pickle格式。

In [8]:
!rm examples/frame_pickle
#remove

### Using HDF5 Format

> HDF5是一种存储大规模科学数组数据的非常好的文件格式。它可以被作为C标准库，带有许多语言的接口，如Java、Python和MATLAB等。HDF5中的HDF指的是层次型数据格式（hierarchical data format）。每个HDF5文件都含有一个文件系统式的节点结构，它使你能够存储多个数据集并支持元数据。与其他简单格式相比，HDF5支持多种压缩器的即时压缩，还能更高效地存储重复模式数据。<mark>对于那些非常大的无法直接放入内存的数据集</mark>，HDF5就是不错的选择，因为它可以高效地分块读写。

In [17]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [18]:
store['obj1']

           a
0  -0.204708
1   0.478943
2  -0.519439
3  -0.555730
4   1.965781
..       ...
95  0.795253
96  0.118110
97 -0.748532
98  0.584970
99  0.152677

[100 rows x 1 columns]

In [19]:
store['obj1_col']

0    -0.204708
1     0.478943
2    -0.519439
3    -0.555730
4     1.965781
        ...
95    0.795253
96    0.118110
97   -0.748532
98    0.584970
99    0.152677
Name: a, Length: 100, dtype: float64

> HDFStore supports two storage schemas, 'fixed' and 'table'. The latter is generally slower, but it supports query operations using a special syntax:

In [20]:
store.put('obj2', frame, format='table')
# table更慢，但是支持特殊语法查询操作
store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10  1.007189
11 -1.296221
12  0.274992
13  0.228913
14  1.352917
15  0.886429

In [21]:
store.close()

In [22]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0 -0.204708
1  0.478943
2 -0.519439
3 -0.555730
4  1.965781

In [14]:
!rm mydata.h5

In [74]:
## os.remove('mydata.h5')

> 笔记：如果你要处理的数据位于远程服务器，比如Amazon S3或HDFS，使用专门为分布式存储（比如Apache Parquet）的二进制格式也许更加合适。Python的Parquet和其它存储格式还在不断的发展之中，所以这本书中没有涉及。

>如果需要本地处理海量数据，我建议你好好研究一下PyTables和h5py，看看它们能满足你的哪些需求。。由于许多数据分析问题都是IO密集型（而不是CPU密集型），利用HDF5这样的工具能显著提升应用程序的效率。

>注意：HDF5不是数据库。它最适合用作“一次写多次读”的数据集。虽然数据可以在任何时候被添加到文件中，但如果同时发生多个写操作，文件就可能会被破坏。

### Reading Microsoft Excel Files

In [15]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [18]:
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [19]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [20]:
writer = pd.ExcelWriter('examples/ex2.xlsx')
# 写入必须首先创建一个ExcelWriter
frame.to_excel(writer, 'Sheet1')
writer.save()

In [21]:
frame.to_excel('examples/ex2.xlsx') #或者直接输入路径

In [23]:
!rm examples/ex2.xlsx

## Interacting with Web APIs

> 许多网站都有一些通过JSON或其他格式提供数据的公共API。通过Python访问这些API的办法有不少。一个简单易用的办法（推荐）是requests包（http://docs.python-requests.org）。
为了搜索最新的30个GitHub上的pandas主题，我们可以发一个HTTP GET请求，使用requests扩展库：

In [24]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [25]:
data = resp.json() #响应对象的json方法会返回一个包含被解析过的JSON字典
data[0]['title']

'TYP: change ArrayLike/AnyArrayLike alias to Union'

In [26]:
data[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40379',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40379/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40379/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/40379/events',
 'html_url': 'https://github.com/pandas-dev/pandas/pull/40379',
 'id': 829344059,
 'node_id': 'MDExOlB1bGxSZXF1ZXN0NTkxMDIzNzgy',
 'number': 40379,
 'title': 'TYP: change ArrayLike/AnyArrayLike alias to Union',
 'user': {'login': 'simonjayhawkins',
  'id': 13159005,
  'node_id': 'MDQ6VXNlcjEzMTU5MDA1',
  'avatar_url': 'https://avatars.githubusercontent.com/u/13159005?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/simonjayhawkins',
  'html_url': 'https://github.com/simonjayhawkins',
  'followers_url': 'https://api.github.com/users/simonjayhawkins/followers',
  'following_url': 'https://api.github.com/users/simonjayhawkins/following{/other_user}',
  'gists_url': 'https://api.github.com/users/simonjayhawkins/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/simonjayhawkins/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/simonjayhawkins/subscriptions',
  'organizations_url': 'https://api.github.com/users/simonjayhawkins/orgs',
  'repos_url': 'https://api.github.com/users/simonjayhawkins/repos',
  'events_url': 'https://api.github.com/users/simonjayhawkins/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/simonjayhawkins/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [{'id': 1280988427,
   'node_id': 'MDU6TGFiZWwxMjgwOTg4NDI3',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Typing',
   'name': 'Typing',
   'color': 'ea91a4',
   'default': False,
   'description': 'mypy type annotations'}],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 0,
 'created_at': '2021-03-11T17:05:05Z',
 'updated_at': '2021-03-11T17:34:09Z',
 'closed_at': None,
 'author_association': 'MEMBER',
 'active_lock_reason': None,
 'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/40379',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/40379',
  'diff_url': 'https://github.com/pandas-dev/pandas/pull/40379.diff',
  'patch_url': 'https://github.com/pandas-dev/pandas/pull/40379.patch'},
 'body': 'follow-on from #36092\r\n\r\nThe first commit is the change in the alias.\r\n\r\nAlthough this does get rid of many of the false positives, as well as removing ignores this also results is some changes in the mypy error codes and some new errors where we might need a typevar (or more likely an overload)\r\n\r\nThe subsequent commits were an attempt to ensure that this PR only removed ignores.\r\n\r\nThe PR is starting to get a bit difficult to review imo. so I have stopped for now.\r\n\r\nI could break off the first commit and then submit the subsequent commits as separate PRs if it makes review easier.',
 'performed_via_github_app': None}

In [27]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues
#data中的每个元素都是一个包含所有GitHub主题页数据（不包含评论）的字典。我们可以直接传递数据到DataFrame，并提取感兴趣的字段

,number,title,labels,state
0,40379,TYP: change ArrayLike/AnyArrayLike alias to Union,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
1,40378,BUG: TypeError when trying to group on column ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
2,40377,DOC: Slightly broken grammar for `groupby.appl...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
3,40376,ENH: `pivot_table` no aggregation validation,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
4,40375,DOC: Backticks missing in pandas.DataFrame.query,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
5,40374,ENH: Rolling window apply to all columns and n...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
6,40373,BUG: rolling window iterator with on should re...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
7,40372,STYLE: Extending codespell to pandas/tests/ p...,[],open
8,40371,BUG: Change in behavior of replace with intege...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
9,40369,INT: Use Index._getitem_slice in ArrayManager,"[{'id': 49094459, 'node_id': 'MDU6TGFiZWw0OTA5...",open
10,40368,CLN: reorganise/group variables for readability,[],open
11,40367,ENH:Resume the 'loffset' arguments in Grouper ...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
12,40366,BUG: Inconsistent handling of None in indices,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
13,40364,BUG: better exception on invalid slicing on Ca...,[],open
14,40363,DEPR: DataFrame(MaskedRecords),[],open
15,40362,DOC: Wrong examples,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
16,40361,PERF/REF: require BlockPlacement in Block.__in...,[],open
17,40359,BUG: IntervalArray.insert cast on failure,[],open
18,40358,DOC: Proper alignment of column names #40355,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
19,40357,BUG: KeyError from unexpected DatetimeIndex pa...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
20,40356,BUG: copying from Jupyter table to excel misal...,"[{'id': 106935113, 'node_id': 'MDU6TGFiZWwxMDY...",open
21,40355,DOC: Proper alignment of column names,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
22,40353,PERF: repeated slicing along index in groupby,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
23,40351,BUG: Casting string series to category raises ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
24,40350,TYP simplify overloads of mypy issue is resolved,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
25,40349,TYP test reset_index overloads,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
26,40348,[ArrayManager] TST: Enable extension tests,"[{'id': 49094459, 'node_id': 'MDU6TGFiZWw0OTA5...",open
27,40346,BUG: 'groupby' method error,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,40345,[ArrayManager] TST: enable apply tests,"[{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc...",open
29,40341,BUG: RollingGroupby no longer keeps the groupb...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open

## Interacting with Databases

In [28]:
import sqlite3
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata.sqlite')
con.execute(query)

In [29]:
con.commit()

In [30]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
# 相当于一个函数，data是input
con.executemany(stmt, data)

In [31]:
con.commit()

In [32]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [33]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])
# 列表推导式again

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [34]:
con.close()

<mark>SQLAlchemy</mark>

> 这种数据规整操作相当多，你肯定不想每查一次数据库就重写一次。SQLAlchemy项目是一个流行的Python SQL工具，它抽象出了SQL数据库中的许多常见差异。pandas有一个read_sql函数，可以让你轻松的从SQLAlchemy连接读取数据。这里，我们用SQLAlchemy连接SQLite数据库，并从之前创建的表读取数据：

In [35]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [37]:
db.dispose()

In [38]:
!rm mydata.sqlite

## Conclusion