In [1]:
a = ['dsf', 'apple', 'banana']

In [2]:
[x.upper() for x in a]

['DSF', 'APPLE', 'BANANA']

In [3]:
tup = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [4]:
[x for xx in tup for x in xx]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
import re

In [2]:
re?

In [3]:
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!&#$]', '', value)
        value = value.title()
        result.append(value)
    return result

In [4]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
           'south   carolina##', 'West virginia?']

In [5]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia?']

In [6]:
re.sub?

In [10]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [12]:
strings.sort(key = lambda x: len(set(x)))

In [13]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [17]:
def squares(n=10):
    for i in range(1, n+1):
        yield i ** 2

In [18]:
gen = squares()
gen

In [20]:
dict(((i, i ** 2) for i in range(5)))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [21]:
import itertools

In [23]:
first = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']